.navbar-mobile-imagen {

    .contenedor-imagen {
        width: 93%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .svg-back {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo{
            margin: auto;
            .logo-pinterest {
                max-width: 250px;
                width: 54vw;
            }
        }
    }
}